html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}
#block1{
    position: relative;
    background-image: url("image/blake-connally-B3l0g6HLxr8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
    margin: 0%;
    text-align: center;
    padding-top: 18vh;
}
#nav1{
    position:fixed;
    z-index: 10;
    height: 100px;
    width: 100%;
    
}
#portfolio{
    display: none;
}
.traveauxtitle{
    text-align: center;
    font-size: 25px;
    color: white;
}
.navbar-menu {
    width: 100%;
}
#navbar-menu1{
    margin-right: auto;
    margin-left: auto;
    background-color: #363636;
    color: aliceblue;
}
.titreprojet{
    text-align: center;
}
.titreprog{
    text-align: center;
    font-size: 20px;
}
.section{
    background-color: #000;
    color: white;
}
#footer{
    background-color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}
#CVBTN{
    text-align: center;
}
.bienveue{
    font-size: x-large;
    width: 100%;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}
#portfolio1,
#propos1,
#travaux1,
#veille1,
#contact1
{
    color: aliceblue;
}
#card-content{
    background-color: black;
    color: white;
    padding-top: 25px;  
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
}
#imgproj{
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
#title{
    color: white;
}
#column{
    border-radius: 5%;
    border: 1px solid white;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-right: 12px;
    margin-left: 12px;
    padding-right: 12px;
    padding-top: 0.75rem;
    padding-bottom: 5px;

}
#card-image{
    background-color: black;
}
.section-mension{
    background-color: black; 
    color: white;
}
.titlemesion{
    font-size: 25px;
}
.cgutitle{
    padding-top: 50px ;
    text-align: center;
    font-size: 25px;
}
@media screen and (max-width:1023px){
    #portfolio{
        display: flex;
    }
    #decale{
        margin-left: 0%;
        margin-top: 5vh;
    }
    .bienveue {
        font-size: x-large;
        width: 100%;
        color: white;
        margin-top: 5vh;
    }
    .navbar-menu.is-active{
        padding: 0px;
    }
}
@media screen and (max-width:426px){
    .bienveue {
        font-size: x-large;
        width: 100%;
        color: white;
        margin-top: 5vh;
    }
}
@media screen and (max-width:769px){
    .bienveue {
        font-size: x-large;
        width: 100%;
        color: white;
        margin-top: 5vh;
    }
}